* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.ranking-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.ranking-menu div {
    width: 400px;
    pointer-events: auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    font-size: 14.5px;
    background: linear-gradient(135deg, #61dafb 0%, lightblue 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.ranking-menu div:hover{
    background: lightgrey;
}

.ranking-menu div a {
    color: white;
}

.container {
    display: flex;
}

.position {
    width: 60px;
    position: relative;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.position > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}

.position > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: lightblue;
    border-radius: 100%;
}

.position div:nth-child(1) div{
    background: linear-gradient(135deg, goldenrod 0%, gold 100%);
}
.position div:nth-child(2) div{
    background: linear-gradient(135deg, silver 0%, lightgrey 100%);
}
.position div:nth-child(3) div{
    background: linear-gradient(135deg, #D69449 0%, #D7C3AD 100%);
}
.content {
    position: relative;
    width: 800px;
    height: 240px;
    user-select: none;
}

.content > div {
    position: absolute;
    width: 800px;
    height: 90px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 90px;
    padding-left: 32px;
    font-size: 14.5px;
    background: linear-gradient(135deg, #61dafb 0%, lightblue 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
}